<div class="container">
      <h3>メッセージ</h3>
      <div class="row">
      <% @conversations.each do |conversation| %>
          <% if conversation.target_user(current_user).present? %>
          <div class="col-xs-6 col-sm-4 col-md-3">
          <div class="wrapper">
            <p><%= profile_img(conversation.target_user(current_user)) %></p>
            <p><%= link_to conversation.target_user(current_user).name, conversation_messages_path(conversation)%></p>
          </div>
        </div>
          <% end %>
      <% end %>
    </div>
</div>
