/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
*/
body {
  text-align: center;
  background-color: #e9ebee;
}

.flash {
  color: white;
  padding-top: 10px;
}

img {
  max-width: 100%;
  border: 1px solid #ccc;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

.child li {
  padding-top: 13px;
  border-bottom: 1px dotted #ccc;
}

.wrapper {
  background-color: white;
  border: 1px solid #ccc;
  padding: 20px;
  margin: 10px;
  word-wrap: break-word;
  text-align: center;
}


.right {
  text-align: right;
}

.left {
  text-align: left;
}

.name {
  margin-left: 5px;
}

.topic-text {
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}

.new-post {
  margin-top: 10px;
}

.edit-post {
  margin-bottom: 5px;
}

.topic-content {
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
  margin-bottom: 5px;
}
