body {
  text-align: center;
  background-color: #dfe3ee;
}

.wrapper {
  background-color: white;
  margin-bottom: 74px;
  padding: 20px 20px 20px 35px;
  .row {
    border-bottom: 1px solid #ccc;
    padding: 20px;
    text-align: left;
    word-wrap: break-word;
  }
}
input[type="submit"].btn-block {
  margin: 15px 0;
}

.navbar {
  background-color: #3B5998;
  border: 1px solid #ccc;
}

.container {
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
}

.flash {
  color: white;
  padding-top: 10px;
}

img {
  max-width: 100%;
}

ul {
  padding: 0;
}

.child li {
  padding-top: 13px;
  border-bottom: 1px dotted #ccc;
  list-style-type: none;
}

.right {
text-align: right;
}

.left {
text-align: left;
}
